# folders to ignore
data/
homework/module1/data/
02-experiment-tracking/data/
02-experiment-tracking/models/

.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*


.DS_Store